@define TotalLength: 10s;
@define TimingFunc: ease;
@define IterationCount: 10;

.OverthrowLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
}

#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}


.SeqLogo
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.SeqBg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;

}

#seq
{ 
	overflow: clip;
	width:100%;
	height:100%;
}




#seq_logo
{
	margin-left: 50px;
	margin-top: 40px;
	animation-name: seq_logo_1;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_logo_1'
{
	0%
	{
		transform: translate3d( 0px, 0px, 0px );
	}

	50%
	{
		transform: translate3d( 50px, 50px, 70px );
	}

	100%
	{
		transform: translate3d( 0px, 0px, 0px );
	}
}

